body {
  background-color: #F8A858;
}

.entryField {
    width: 80%;
    height: 60%;
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
  color: white;
  font-size: 3em;
}

h2 {
  margin-top: 10px;
}

#searchField {
  width: 70%;
}

#entries h2,p {
  color: black;
}